body {
	background-image: url("../images/background.jpg");
}

.logo {
	background-color: #c97127;
	padding: 20px 40px;
	/*margin-bottom: -3px;*/
}

.logo h1 {
	/*margin: 0;*/
	color: #fff;
	font-weight: bold;
}

#container {
	width: 100%
	margin: 0 auto;
}

.instructions {
	background-color: #FCE5CC;
	color: #81a44c;
	width: 75%;
	clear:both;
	padding: 15px;
	margin-top: 20px;
	border: solid 1px #ddd
}

#num-to-guess {
	background-color: green;
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	border: solid 1px #ddd
}

.score {
	background-color: #03A9F4;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	border: solid 1px #ddd

}

.red-crystal,
.blue-crystal,
.yellow-crystal,
.green-crystal {
	background-color: #fff;
}

.total-score,
.total-score-count {
	background-color: #2ba194;
}

#your-current-score {
	background: #009688;
	display: inline;
	padding: 20px;
	border: solid 1px #ddd
}

img {
	height: 50px;
	width: 50px;
}