body {
	/*background-image:
	radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
	radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
	background-size: 110px 110px;
	background-color: #C8D3A7;
	background-position: 0 0, 55px 55px;*/
}

.logo {
	background-color: #c97127;
	padding: 20px 40px;
	/*margin-bottom: -3px;*/
}

.logo h1 {
	/*margin: 0;*/
	color: #fff;
	font-weight: bold;
}

.instructions {
	background-color: #FCE5CC;
	color: #81a44c;
}

.randome-num {
	background-color: #5bcb7c;
}

.score {
	background-color: #4bfdff;
}

.red-crystal,
.blue-crystal,
.yellow-crystal,
.green-crystal {
	background-color: #fff;
}

.total-score,
.total-score-count {
	background-color: #2ba194;
}

img {
	height: 50px;
	width: 50px;
}